<header class="d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3"></div>
            <div class="col-md-9" *ngIf="!disableHeader">
              <nav>
                <ul class="nav justify-content-end">
                  <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                  <!-- <li><a href="">For Business</a></li> -->
                  <li><a href="">Contact us</a></li>
                  <!-- <li><a href="">Book Now </a></li> -->
                  <!-- <li *ngIf="!loginService.getSession()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
                  <li *ngIf="loginService.getSession()"><a routerLink="/enquiry" routerLinkActive="active">Enquiry</a></li> -->
                  <!-- <li *ngIf="loginService.getSession()"><a routerLinkActive="active">Profile</a></li>
                  <li *ngIf="loginService.getSession()"><a href="#" routerLink="/" (click)="logout($event)">Logout</a></li> -->
                  <!-- <li><a href=""><img src="../../assets/images/svg/search.svg" width="16" alt=""></a></li> -->
                </ul>
              </nav>
            </div>
        </div>
    </div>
</header>
