<section *ngIf='register'>
            <h2 class="text-center mb-5">Enquiry</h2>

          <form #enqForm="ngForm">

              <div class="row">
                  <div *ngIf="errMsg; else showEnquiry" class="alert alert-danger m-auto">{{errMsg}}</div>
                  <ng-template #showEnquiry>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" minlength="4" [ngClass]="{'is-invalid': fname.control.touched && !fname.control.valid }" name="fname" #fname="ngModel" ngModel placeholder="First name" required>
                        <div class="invalid-feedback" *ngIf="fname.control.touched && !fname.control.valid">
                          <div *ngIf="fname?.errors.required">Please enter First name</div>
                          <div *ngIf="fname?.errors.minlength">First name should be minimum {{fname?.errors.minlength.requiredLength}} Charecter</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid': lname.control.touched && !lname.control.valid }" name="lname" #lname="ngModel" ngModel id="lname" placeholder="Last name" required>
                        <div class="invalid-feedback" *ngIf="lname.control.touched && !lname.control.valid">
                          <div *ngIf="lname?.errors.required">Please enter Last name</div>
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control" name="email" [ngClass]="{'is-invalid': email.control.touched && !email.control.valid }" id="mail" #email="ngModel" ngModel placeholder="Email Address" [pattern]="emailpattern" required>
                        <div class="invalid-feedback" *ngIf="email.control.touched && !email.control.valid">
                          <div *ngIf="email?.errors.required">Please enter Email address</div>
                          <div *ngIf="email?.errors.pattern">Please enter a valid Email address</div>
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="service">Service</label>
                        <select name="service" class="form-control" id="service" #service="ngModel" ngModel [ngClass]="{'is-invalid': service.control.touched && !service.control.valid }" required>
                          <option *ngFor="let service of servicelist" value="{{service.product_name}}">{{service.product_name}}</option>
                        </select>
                        <!-- <input type="text" class="form-control" name="service" minlength="6" maxlength="10"    placeholder="Service" > -->

                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="phone">Mobile</label>
                        <input type="tel" class="form-control" name="mobile" [ngClass]="{'is-invalid': mobile.control.touched && !mobile.control.valid }" #mobile="ngModel" ngModel id="phone" placeholder="Mobile number" required pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$">
                        <span for = "mobile"> An OTP Will be sent to the Entered Mobile Number</span>
                        <div class="invalid-feedback" *ngIf="mobile.control.touched && !mobile.control.valid">
                          <div *ngIf="mobile?.errors.required">Please enter Mobile number</div>
                          <div *ngIf="mobile?.errors.pattern">Please enter a valid Mobile number</div>
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="phone">Comments</label>
                        <textarea name="" class="form-control" id="" cols="30" rows="3"></textarea>
                    </div>
                </div>
                <p class="text-center mt-4">
                    <button type="submit" class="btn btn-secondary text-uppercase" (click)="enquiryForm(enqForm)" [disabled]="!enqForm.valid">Submit</button>
                </p>
                </ng-template>
              </div>
          </form>

</section>
<section *ngIf='!register'>
  <h2 class="text-center mb-5">Verify OTP</h2>
  <form #otp="ngForm">
  <div class="row justify-content-center">
    <div class="col-12">
        <div class="form-group">
            <label for="otp">Enter OTP</label>
            <input type="text" class="form-control" minlength="6" maxlength="6" [ngClass]="{'is-invalid': otp.control.touched && !otp.control.valid }" name="otp" #otp="ngModel" ngModel placeholder="Enter OTP" required>
            <div class="invalid-feedback" *ngIf="otp.control.touched && !fname.control.valid">
              <div *ngIf="otp?.errors.required">Please enter Valid OTP</div>
              <div *ngIf="otp?.errors.minlength">OTP should be minimum {{otp?.errors.minlength.requiredLength}} Charecter</div>
              <div *ngIf="otp?.errors.maxlength">OTP should be maximum {{otp?.errors.maxlength.requiredLength}} Charecter</div>
            </div>
        </div>
    </div>
  </div>
  <div class="form-group text-center">
      <button type="submit" class="btn btn-secondary text-uppercase" [disabled]="!otp.valid" [mat-dialog-close]="true">Submit</button>
  </div>
</form>
  <!-- <p><button (click)="backEnquiry()">This is not my Number</button></p> -->
</section>
