<section class="my-5">
<div class="container">
  <div class="row">
      <div class="col-md-12">


        <div class="card p-3">
        <div *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</div>
        <div *ngIf="delSucMsg" class="alert alert-success">{{delSucMsg}}</div>
        <h2 class="text-center mb-5">List of Service name</h2>
        <table class="table">
          <tr>
            <th>Id</th>
            <th>Service name</th>
            <th>Publish</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let service of servicelist">
            <td>{{service.ID}}</td>
            <td>{{service.product_name}}</td>
            <td>
              <input
              type="checkbox"
              (change)="changeStatus(service.product_name,service.product_status)"
              [checked]="service.product_status === '0'"
              name="status"
              id="">
            </td>
            <td><button (click)="delProd(service.product_name)">Delete</button></td>
          </tr>
        </table>
        </div>
      </div>
  </div>
</div>
</section>
