<section class="my-5">
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="card p-3">
        <h2 class="text-center mb-5">List of Service name</h2>
        <table class="table">
          <tr>
            <th>Id</th>
            <th>Service name</th>
            <th>Publish</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Electrical Service</td>
            <td> <input type="checkbox" name="" id=""> </td>
            <td><a href="">Delete</a></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Electrical Service</td>
            <td> <input type="checkbox" name="" id=""> </td>
            <td><a href="">Delete</a></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Electrical Service</td>
            <td> <input type="checkbox" name="" id=""> </td>
            <td><a href="">Delete</a></td>
          </tr>

        </table>
        </div>
      </div>
  </div>
</div>
</section>
