<section class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 p-0">
        <div class="card p-3">
            <h2 class="text-center mb-5">Log in</h2>
            <div class="alert alert-danger mt-3" role="alert" *ngIf="errMesg">{{errMessage}}</div>
            <div class="alert alert-danger mt-3" role="alert" *ngIf="invalidLogin">Please enter a valid Username and Password</div>
            <form #loginForm="ngForm" (ngSubmit)="loggedIn(loginForm.value)">
                <div class="form-group">
                  <label for="loginMail">Email</label>
                  <input type="email" class="form-control" name="email" id="loginMail" [ngClass]="{'is-invalid': email.invalid && email.touched}" #email="ngModel" [pattern]="emailpattern" ngModel placeholder="Email Address" required>
                  <div class="invalid-feedback" *ngIf="email.control.touched && !email.control.valid">
                    <div *ngIf="email?.errors.required">Please enter User name</div>
                    <div *ngIf="email?.errors.pattern">Please enter a valid User name</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pwd">Password</label>
                  <input type="password" class="form-control" name="pwd" id="pwd" [ngClass]="{'is-invalid': pwd.invalid && pwd.touched}" #pwd="ngModel" ngModel placeholder="Password" required>
                  <div class="invalid-feedback" *ngIf="pwd.control.touched && !pwd.control.valid">
                    <div *ngIf="pwd?.errors.required">Please enter your password</div>
                  </div>
                </div>
                <div class="form-group text-right d-flex justify-content-between align-item-center">
                    <!-- <a href="" class="text-uppercase "><strong>Forgot password</strong></a> -->
                    <button type="submit" class="btn btn-primary text-uppercase" [disabled]="!loginForm.valid">Login</button>
                  </div>
            </form>
        </div>
      </div>
      <div class="col-md-3 p-0 signup">
        <div class="card p-3 h-100 justify-content-center">
          <h2 class="text-center mb-5">Sign up</h2>
          <button class="btn btn-secondary text-uppercase" (click)="signupLink()">Register</button>
        </div>
      </div>

    </div>
  </div>
</section>


