<section class="my-5 servicelst-container">
  <div class="container">
    <h2 class="text-center mb-5">Our Services</h2>
    <div class="row">
      <div *ngIf="errMsg" class="alert alert-danger m-auto">{{errMsg}}</div>
      <div class="col-md-2" *ngFor="let service of servicelist">
        <div class="card" (click)="onEnquiry(service.product_name)">
          <span> <img [src]="'http://spotbooking.in'+service.pimage" width="50" alt=""> </span>
          <p>{{service.product_name}}</p>
        </div>
      </div>

    </div>
    <p class="text-center mt-4"><button name="booknow" (click)="enquiryForm()" class="btn btn-primary">Book now</button></p>
  </div>
</section>


