<section class="my-5 servicelst-container">
  <div class="container">
    <h2 class="text-center mb-5">Our Services</h2>
    <div class="row">

      <div class="col-md-2">
        <div class="card">
          <img src="/assets/images/svg/electrical.svg" class="mb-3" width="50" alt="">
          <p>Electrical <br>Service</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="/assets/images/svg/carpenting.svg" class="mb-3" width="50" alt="">
          <p>Carpending <br>Service</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="/assets/images/svg/ac-repair.svg" class="mb-3" width="50" alt="">
          <p>AC Repair <br>Service</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="/assets/images/svg/airlines.svg" class="mb-3" width="50" alt="">
          <p>Airline <br>Service</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="/assets/images/svg/housekeeping.svg" class="mb-3" width="50" alt="">
          <p>House keeping <br>Service</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img src="/assets/images/svg/law.svg" class="mb-3" width="50" alt="">
          <p>LAW <br>Service</p>
        </div>
      </div>

    </div>
  </div>
</section>
