/* You can add global styles to this file, and also import other style files */

$white: #fff;
$black: #000;
$primary_color: #4f1a6c;
$primary_hover_color: #350d4b;
$secondary_color: #d31e72;
$secondary_hover_color: #9a0e4f;

$font_14: 14px;
$font_30: 30px;


body{
  background: #f3f8fc;
  font-family: 'Roboto', sans-serif;
  font-size: $font_14;
}
.btn{
  height: 48px;
  min-width: 156px;
  font-size: $font_14;
  font-weight: 500;
}
.btn-primary{
  background: $primary_color;
  border: none;
  &:hover{
    background: $primary_hover_color;
  }
  &:disabled{
    background: $primary_color;
  }
}
.btn-secondary{
  background: $secondary_color;
  border: none;
  &:hover{
    background: $secondary_hover_color;
  }
  &:disabled{
    background: $secondary_color;
  }
}
h2{
  font-size: 1.714em;
  color: #313131;
  position: relative;
  &:after{
    width: 50px;
    height: 2px;
    background:$secondary_color;
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
  }
}
header{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  height: 75px;
}
.nav a{
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.nav li{
  margin-right: 40px;
  &:last-child{
    margin-right: 0;
  }
}
.login{
  header{
    background: $secondary_hover_color;
    position: static;
  }
}
footer{
  // height: 50px;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  background: $secondary_hover_color;
  p{
    color: $white;
    text-align: center;
  }
}
