/* You can add global styles to this file, and also import other style files */
body{
  background: #f3f8fc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2{
  font-size: 1.714em;
  color: #313131;
  position: relative;
  &:after{
    width: 50px;
    height: 2px;
    background: #d31e72;
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
  }
}
header{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  height: 75px;
}
.nav a{
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.nav li{
  margin-right: 40px;
  &:last-child{
    margin-right: 0;
  }
}

.login{
  header{
    background: #981150;
    position: static;
  }
}
footer{
  background: #981150;
  p{
    color: #fff;
    text-align: center;
  }
}
