<section class="banner-container">
  <img src="assets/images/banner/banner1.png" class="img-fluid w-100" alt="">
  <div class="container">
      <div class="caption">
        India's leading service provider for <strong>home services and maintenance</strong> needs.
      </div>
  </div>
</section>
<app-servicelist></app-servicelist>
<!-- <div class="assistance-container py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2 class="mb-5">Our Assistance</h2>
        <p class="mb-5">Book multiple services managed by our dedicated Relationship Manager.</p>
        <button class="btn btn-primary text-uppercase">Book now</button>
      </div>
      <div class="col-md-6 text-center">
        <h2 class="mb-5">Become Service Engineers</h2>
        <p class="mb-5">Choose from a wide range of service offerings best suited for your business.</p>
        <button class="btn btn-secondary text-uppercase">Explore now</button>
      </div>
    </div>
  </div>
</div> -->

<div class="exposed-container py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-uppercase">
        <strong>1.5 Million</strong>
        <span>Customers Served</span>
      </div>
      <div class="col-md-4 text-center text-uppercase">
          <strong>65,000</strong>
          <span>Verified Experts</span>
      </div>
      <div class="col-md-4 text-center text-uppercase">
          <strong>100 +</strong>
          <span>Live Services</span>
      </div>
    </div>
  </div>
</div>

